.video-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;

  line-height: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.video-stats {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
  margin-top: 0px;
}

.video-author {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0px;
}

.video-description {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0px;
  margin-bottom: 50px;
  width: 280px;
  line-height: 22px;
}

.apple-text {
  font-family: Arial;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.span-example {
  cursor: pointer;
}

.span-example:hover {
  text-decoration: underline;
}

.thumbnail {
  width: 350px;
  display: block;
  /* object-fit: contain;
  object-position: top;
  border-width: 5px;
  border-style: solid;
  border-color: red; */
}

.thumbnail-avtar {
  width: 100px;
}

.video-preview {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.profile-pic {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.profile-content {
  display: inline-block;
  width: 300px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
